@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&family=Open+Sans:wght@300&family=Secular+One&display=swap');
* {
    padding: 0;
    margin: 0;
}

/*Counter starts*/
.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#btnR{
	width: 450px;
	height: 50px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: first baseline;
	align-items: center;
	font-size: 50px;
	font-family: 'Open Sans';
	font-weight: bold;
	color:  #222023;
	cursor: pointer;
    margin: 30px;
    padding: 15px;
    padding-bottom: 25px;
    
}

#btnL{
	width: 500px;
	height: 50px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: bold;
	color:  #222023;
	cursor: pointer;
    margin: 30px;
    padding: 15px;
    padding-bottom: 17px;
    
}

#count1, #count2 ,#count3, #count4, #count5 ,#count6,#count7 ,#count8{
	font-size: 40px;
	font-family: 'Open Sans';
	font-weight: 600;
    color: rgb(203, 215, 227);
}
/*Counter endss*/

#Home {
    background-image: url(../images/UpCover.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#Home .welcome {

    font-size: 1rem;
    height: 5%;
    width: 15%;
    font-family: 'Open Sans', sans-serif;
    background-color:#E68556 ;
    color: white;
    padding: 1rem ;
    text-align: center;
    position: fixed;
}


/* nave  */

#Home .nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
}

#Home .nav ul a {
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-top: 3rem;
    text-transform: uppercase;
}

#Home .nav ul a:hover {
    text-decoration: underline;
}

#Home .nav ul .logo {
    margin-right: 10rem;
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 3px;
    margin-left: -4rem;
}

#Home .nav ul .logo:hover {
    text-decoration: none;
}

#Home .nav ul input {
    border: white solid;
    border-width: 1px;
    opacity: 0.8;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.85);
    padding: 1rem 3rem;
}

#Home .nav ul input:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #E68556;
    opacity: 0.9;
}

#Home .nav ul a li i {
    font-size: 1.8rem;
}
#Home .nav ul a li i:hover{

    color: #E68556;
}

/* Home Banner */

.banner-content {
    display: flexbox;
    text-align: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.85);
    padding: 5rem;
}

.banner-content h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 1.2rem;
    margin-top: 3rem;
    
}

.banner-content p {
    font-family: 'Tangerine', cursive;
    font-size: 6rem;
}

/* EISO Main Menu starts*/

#main-menu {
    color: #ffffff;
    padding: 0rem 5rem;
    background-color: #222023;
    height: 215vh;
    padding-bottom: 4rem;
}

#main-menu .menu-content {
    display: block;
    margin-left: 8.5rem;
    padding: 4rem;
    opacity: 0.9;
}

#main-menu .menu-content table tbody tr td {
    padding: 0rem 2rem 2rem 2rem;
}

#main-menu .menu-content table tbody tr td h3 {
    font-size: 1.7rem;
}

#main-menu .menu-content table tbody tr td p {
    font-size: 1rem;
    font-family: 'Open Sans';
    color: rgb(203, 215, 227);
    font-style: italic;
    letter-spacing: 1.5px;
}

#main-menu .menu-content h1 {
    letter-spacing: 2px;
    display: flexbox;
    text-align: left;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: lighter;
    color: #E68556;
    font-family: 'Great Vibes', cursive;
    margin-left: 180pt;
}

#main-menu .menu-content input[type=submit] {
    position: absolute;
    right: 45%;
    color: rgba(255, 255, 255, 0.85);
    background-color: #E68556;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    border: none;
    margin-top: 1.5rem;
   
}

#main-menu .menu-content input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #E68556;
    opacity: 0.9;
}
/* EISO Main Menu ends*/

/* EISO After menu starts*/

#after-menu {
    height: 100vh;
    background-image: url(../images/DownCover.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#after-menu .after-menu-content {
    display: flexbox;
    text-align: left;
    padding: 8rem 12rem 0rem 12rem;
    padding-top: 7rem;
}

#after-menu .after-menu-content h1 {
    font-family: 'Bebas Neue', cursive;
    padding: 1rem;
    padding-left: 30rem;
    font-size: 6.5rem;
    letter-spacing: 5px;
    opacity: 1.0;
    color: rgba(255, 255, 255, 0.85);
    
}

#after-menu .after-menu-content input[type=submit] {

    color: rgba(255, 255, 255, 0.85);
    background-color: #E68556;
    font-size: 1.2rem;
    padding: 0.8rem 3rem;
    border: none;
    margin-top: 1.5rem;
}

#after-menu .after-menu-content input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #E68556;
    opacity: 0.9;
}

/* EISO After menu ends*/

/* locations */

#location {
    height: 50vh;
    background-image: url(/images/Group\ 3.png);
    background-position: center;
}

#location .loc-content {
    display: flexbox;
    text-align: right;
    padding: 8rem 12rem 0rem 12rem;
    padding-top: 7rem;
}

#location .loc-content h1 {
    font-family: 'Bebas Neue', cursive;
    padding: 1rem;
    font-size: 4.5rem;
    letter-spacing: 5px;
    opacity: 0.9;
    border-bottom: solid black;
    border-right: solid black;
}

#location .loc-content input[type=submit] {

    color: rgba(255, 255, 255, 0.85);
    background-color: #E68556;
    font-size: 1.2rem;
    padding: 0.8rem 3rem;
    border: none;
    margin-top: 1.5rem;
}

#location .loc-content input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #E68556;
    opacity: 0.9;
}

#HomePagefooter{

    height: 50vh;
    display: flexbox;
    text-align: center;
    background-color: #222023;
    padding: 7rem 7rem 0rem 0rem;
}

#HomePagefooter h1{

    font-family: 'Secular One', sans-serif;
    font-size: 2.5rem;
    color: #F7F4ED;
    letter-spacing: 3px;
    padding-bottom: 2rem;

}

#HomePagefooter table tbody{

    position: absolute;
    left: 30%;
    
}



#HomePagefooter table tbody tr td{

    color: #F7F4ED;
    padding: 1.2rem;
    font-size: 1rem;
    font-family: 'Open Sans';
    
}

#HomePagefooter table tbody tr td p{

    color: #E68556;
    font-weight: bold;
    
}